@media (max-width: 1200px) {
  .right_div_post {
    width: 100%;
    margin-top: 54px;
  } 
  .right_sub__div a {
    margin: 3px;
   }
  .right_div {
   margin-left: 20px;
   width: 100%;
  }
  .advertise_img {
    width: 16rem;
   }
  .home-article{
    width: 100%;
  }
  .home-articles{
    width: 100%;
  }
}

@media (max-width:990px) {
  .navigation ul li:hover {
    background-color: grey;
    text-shadow: 3px 4px 1px black;
    color: orange;
    width: 70rem;
    height: 40px;
  }
  .post-img img{
    width: 100%;
  }
  .blogpost-meta{
    width: 100%;
  }
  .home-articles{
    margin-left: 0px;
  }
  .home-article img {
    width: 100%;
  }
  .nav-left {
    flex-direction: column;
    text-align: center;
  }
  .nav-right form {
    opacity: 0;
    visibility: hidden;
    display: flex;
    text-align: center;
  }
  .nav-left ul {
    flex-direction: column;
    text-align: center;
  }
  .nav-left ul li {
    margin: 10px;
  }
  .container-fluid{
    flex-direction: column;
  }
  #iconbar {
    opacity: 1;
    visibility: visible;
  }
  .navigation.responsive {
    width: 100%!important;
    height: 60vh!important;
    background-color: rgb(206, 168, 168);
    position: relative;
    z-index: 111111;
    flex-direction: column;
  }
  .navigation.responsive ul{
    opacity: 1;
    visibility: visible;
  }
  .navigation.responsive ul li {
    float: none;
    display: block;
    text-align: center;
  }
  .navigation.responsive form{
    opacity: 1;
    visibility: visible;
  }
  .navigation.responsive form input {
    float: none;
    display: block;
    text-align: center;
  }
  .navigation.responsive form button {
    float: none;
    display: block;
    text-align: center;
  }
 .right_div_post {
    width: 100%;
  } 
  .right_div {
   margin-left: 0px;
   width: 100%;
  }
  .nav-left ul{
   opacity: 0;
   visibility: hidden;
  }
  .nav-right {
   opacity: 1;
   visibility: visible;
   padding: 0 0 11px 47px;
   height: 135px;
  }
  .advertise_img {
   width: 100%;
  } 
  .right_sub__div a {
   margin: 27px;
  }
  .form-input {
   width: 50%;
  }
  .form-box input,textarea {
   width: 66vw;
  }
  .content-right {
    display: none;
  }
}

 @media(max-width:800px) {
  body {
    width: 100%;
  }
  .right_div {
    margin-left: 0px;
    width: 100%;
  }
  .right_div_post {
    width: 100%;
  }
  .right_sub__div a {
    margin: 27px;
   }
  .home-article {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }
  .home-articles {
    flex-direction: column;
    width: 100%;
  }

  .home-article-img {
    text-align: center;
  }

  .home-article img {
    width: 100%;
  }

}
@media(max-width:600px){
  .home-article {
    width: 100%;
    margin-left: 0px;
  }
  .home-articles {
    width: 100%;
    margin-left: 0px;
  }

  .home-article img {
    width: 100%;
  }
  .advertise_img {
    width: 100%;
   }
   .tags_main{
    width: 100%;
   }
   .right_div_post {
    width: 100%;
  } 
  .right_div {
   margin-left: 0px;
   width: 100%;            
  }
  .right_sub__div a {
    margin: 20px;
  }
  .nav-left{
    width: 250px;
  }
}
@media(max-width:480px){
  .navigation{
    width: 100%;
  }
  .home-article {
    width: 100%;
    margin-left: 0px;
  }
  .home-articles {
    width: 100%;
    margin-left: 0px;
  }

  .home-article img {
    width: 100%;
  }
  .advertise_img {
    width: 100%;
   }
   .right_div_post {
    width: 100%;
  } 
  .right_div {
   margin-left: 0px;
   width: 100%;           
  }
  .right_sub__div a {
    margin: 9px;
  }
  .nav-left{
    width: 250px;
  }
}
